.card{
    box-shadow: 1px 1px 5px ;
    margin: 5px;
}
  
.cards{
    justify-content: center;
    display: flex;
    flex-wrap: wrap;
    list-style: none;
    margin: 0;
    padding: 0;
    border: 1px solid black;
}


.card-item{
    display: flex;
    padding: 1rem;
    background-position: center;
    
}
